{% extends 'base.html.twig' %}

{% block body %}

    <h1>Your invite codes</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Invite code</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for invitation in invitations %}
            <tr>
                <td><code>{{ invitation }}</code></td>
                <td>
                    {% if invitation.redeemed %}
                        <span class="badge badge-success">redeemed</span>
                    {% else %}
                        <span class="badge badge-primary">open</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
