{% extends 'base.html.twig' %}

{% block body %}

    <h1>Your invite codes</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Invite code</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>abcd-1234-abcd</code></td>
                <td><span class="badge badge-primary">open</span></td>
            </tr>
            <tr>
                <td><code>abcd-1234-abcd</code></td>
                <td><span class="badge badge-success">redeemed</span></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
